/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

body {
    background-color: #111111;
    color: white;
    min-height: 100vh;
}

h1 {
    color: #7b68ee;
}

@layer components {
    .card {
        @apply w-full h-full p-6 bg-black text-white rounded-2xl border border-[#222222] shadow-sm flex flex-col;
    }
}