/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

body {
    background-color: #111111;
    color: white;
}

p {
    color: white;
}

h1 {
    color: #7b68ee;
}

@layer components {
    .card {
        @apply max-w-md mx-auto mt-10 p-6 bg-white text-black! rounded-2xl shadow-sm;
    }
}